<h1>Обо мне</h1> 
<ul>
  <li><a href="/">На главную</a></li>
</ul>

<main>
    <h1>Литвинчук Дарья Сергеевна</h1>
    <h2>Будущая Rails-звезда! </h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
            <li>знание языков Java, PHP, JavaScript, (работа с js, jQuery);</li>
        <li>знакомство с Node.js</li>
        <li>опыт разработки информационных систем;</li>
        <li>разработка клиентских приложений для работы с БД на Java, PHP.</li>
        <li>знание объектно - ориентированного программирования;</li>
        <li>Парсинг xml-файлов, excel-файлов.</li>
        </ul>
        <h1>Личные качества:</h1>
        <hr>
        <ul>
        <li>отдаю предпочтение back-end разработки и созданию баз данных;</li>
        <li>добросовестность;</li>
        <li>творческие способности;</li>
        <li>ответственность;</li>
        <li>усидчивость;</li>
        <li>эмоциональная устойчивость.</li>
        Готова к прохождению новых курсов, командной работе, удаленной работе. В 2020 г. прошла обучение по бережливому производству.
        </ul>
        <h1>Разработки:</h1>
        <hr>
        <ul>
            <p>PHP + База данных на db2

            <li>ПО «Поиск умерших»</li>
            <li>ПО «SMS — оповещение»</li>
            <li>ПО «Квитанции штрих-код»</li>
        </ul>
        <ul>
        <p>JAVA + db2
        <li>ПО «Учет вычислительной техники»</li>
        <li>ПО «Формирование справок на терминал»</li>
        <li>ПО «Электронные журналы по назначению и перерачету»</li>
        <li>ПО «Учет обращений граждан»</li>
        Создание sh-скриптов по обработке информации из DB2.
        </ul>
    </section>
</main>
